body {
  font-family: 'Open Sans', sans-serif;
}

.text-uppercase {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.bg-primary {
  color: white;
}

.bg-light {
  color: #526066;
}

.sprited-image {
  background-position: left center;
  background-size: cover;
}

/* used on a dummy child element to a w-100 div to get 1:1 aspect ratio */
.height-from-width {
  margin-top: 100%;
}

/* used on a dummy child element to a w-100 div to get 7:10 aspect ratio */
.height-from-width70 {
  margin-top: 70%;
}


.nounderline {
  text-decoration: none !important;
}

.bg-primary a {
  color: white;
  text-decoration: underline;
}

section {
    min-height: 100vh;
}

@media (max-width: 767px) {
  .hide-sm {
    visibility: hidden;
    height: 0;
    margin: 0 !important;
  }
}


/* HEADER */

img.wolf-masthead {
    opacity: 0.9;
    border-width: 0px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.fading-border {
  opacity: 0.7;
  margin: 0;
  border:none;
  height: 2px;
  background: white;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(var(--color-1)), to(var(--color-1)), color-stop(20%, white), color-stop(80%, white));}

.light-hr {
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #ffffff;
  display: block;
  position: relative;
  width: 30%;
  height: 0px;
}

#my-titles {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 700;
  font-synthesis: none;
}

.my-title {
  white-space: nowrap;
  display: inline;
}

/* end HEADER */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome img {
  margin-top: 6px;
}

@media (min-width: 768px) {
  .welcome .img-container {
    float: right;
  }
}


/* SECTIONS */

.icon-and-line {
  display: block;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.icon-and-line:after,
.icon-and-line:before {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-top-style: solid;
  border-top-width: 4px;
  padding-top: 1px;
  content: '';
  width: calc(3rem + 10%);
}

.icon-and-line.light:after,
.icon-and-line.light:before {
  border-top-color: #FFFFFF;
}

.icon-and-line.dark:after,
.icon-and-line.dark:before {
  border-top-color: var(--color-2);
}

.icon-and-line:before {
  right: 0.5em;
  margin-left: calc(-3rem - 10%);
}

.icon-and-line:after {
  left: 0.5em;
  margin-right: calc(-3rem - 10%);
}

.section-icon {
  vertical-align: middle;
  font-size: 2.5rem;
}

.bg-primary .section-icon {
  color: white;
}

.bg-light .section-icon {
  color: var(--color-2);
}

#chest.section-icon {
  background-image: url('../img/chest_icon_frames.png');
}

#avataricon.section-icon {
  background-image: url('../img/avatar_icon_frames.png');
}

/* end SECTIONS */

/* ABOUT ME */

.minha-foto {
  border-width: 4px !important;
  border-radius: 0 !important;
  margin-top: 6px;
}

.list-about-me {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
}

@media (max-width: 768px) {
   .list-about-me {
      text-align: center;
    }
 }

.list-about-me li {
  margin-left: 0;
}

/* end ABOUT ME */

/* PORTFOLIO */

.bg-light img {
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 7px 7px 0 0px #afc2cb;
}

.bg-primary img {
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 7px 7px 0 0px var(--color-3);
}

.portfolio-item {
  max-width: 400px;
}

.portfolio-item-overlay {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  border-radius: 5px;
  overflow: hidden;
}

.portfolio-item-space {
  flex: 1;
}

.portfolio-item-space i.mg {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

.portfolio-item-technologies {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0.6rem 0.6rem 0 0.6rem;
  height: 3.2rem;
}

.portfolio-item-technologies li {
  display: inline-block;

  border-radius: 1rem;
  border: 2px solid;

  margin-bottom: 0.6rem;
  margin-left: 0.4rem;
  padding: 0.6rem;
  height: 2rem;

  font-weight: bold;
  color: white;
  background-color: var(--color-2);
  border-color: var(--color-4);
}

.portfolio-item-technologies li p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
}

.portfolio-item-description {
  color: white;
}

.portfolio-item-description p {
  margin: .6rem 1rem;
}

.portfolio-item-description p.portfolio-item-small-title {
  display: none;
}

@media(max-width: 768px) {
  .portfolio-item-description p.portfolio-item-long-title {
    display: none;
  }

  .portfolio-item-description p.portfolio-item-small-title {
    display: block;
  }
}


.portfolio-item-description p.portfolio-item-more {
  text-align: right;
  font-size: small;
}

.portfolio-item-space,
.portfolio-item-technologies,
.portfolio-item-description {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.portfolio-item:hover .portfolio-item-space,
.portfolio-item:hover .portfolio-item-technologies,
.portfolio-item:hover .portfolio-item-description {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.portfolio-item:hover .portfolio-item-space i.mg {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 1;
}

.portfolio-item:hover p.portfolio-item-more {
  text-decoration: underline;
}


/* Color for technologies */
.portfolio-item-technologies .technology-python {
  background-color: #3572A5; border-color: #2d608a;}
.portfolio-item-technologies .technology-js {
  background-color: #d6c751; border-color: #9e933e;}
.portfolio-item-technologies .technology-html {
  background-color: #e34c26; border-color: #c94422;}
.portfolio-item-technologies .technology-css {
  background-color: #563d7c; border-color: #443061;}
.portfolio-item-technologies .technology-bootstrap {
  background-color: #563d7c; border-color: #443061;}
.portfolio-item-technologies .technology-opencv {
  background-color: #03c700; border-color:#039900;}
.portfolio-item-technologies .technology-latex {
  background-color: #008080; border-color:#006666;}
.portfolio-item-technologies .technology-scikit-learn {
  background-color: #de8c2f; border-color:#b37227;}
.portfolio-item-technologies .technology-matplotlib {
  background-color: #20557c; border-color:#194361;}
.portfolio-item-technologies .technology-matplotlib {
  background-color: #20557c; border-color:#194361;}
.portfolio-item-technologies .technology-pygame {
  background-color: #d6c751; border-color: #9e933e;}

.portfolio-modal h2 {
  font-weight: bold;
}

.portfolio-modal-long-title {
  font-style: italic;
}

.portfolio-modal-image {
  border: solid 2px;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.portfolio-modal-image .dummy {
  margin-top: 36%;
}

.portfolio-modal-image img.image-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 0;
  border: 0px;
}

.portfolio-modal .portfolio-item-technologies {
  justify-content: center;
  height: auto;
}

.portfolio-modal-repository {
  display: block;
  text-align: right;
  font-size: small;
  margin-bottom: -.5rem;
  margin-top: .5rem;
  color: inherit;
}

@media (max-width: 768px) {
  .portfolio-modal-repository {
    margin-top: 1.5rem;
    text-align: center;
    margin-left: 2rem;
  }
}

.portfolio-modal-repository:hover, .portfolio-modal-repository:active, .portfolio-modal-repository:visited {
  color: inherit;
}

.portfolio-modal-repository img {
  margin-left: .5rem;
  width: 1.5rem;
  height: auto;
  box-shadow: none;
  border: none;
}

.portfolio-modal-text {
  text-align: center;
  margin-top: 3rem;
}

.portfolio-modal-text p {
  text-align: left;
}

.portfolio-modal-text img{
  border: solid 1px var(--color-2);
  height: auto;
}

.portfolio-modal-text img.image-full {
    max-width: 100%;
    margin: 1rem auto 2rem auto;
    box-shadow: none;
}

.portfolio-modal-text img.image-side {
    max-width: 40%;
    float: left;
    margin: 0.4rem 1.5rem 1rem 0rem;
}

.bg-light img.noborder {
  border-width: 0px !important;
  box-shadow: none;
}

p.portfolio-modal-long-title {
  text-align: center;
}

/* end PORTFOLIO */

/* FOOTER */


.footer-min-icon {
  vertical-align: middle;
  font-size: 1.5rem;
  margin-right: .5rem;
}

.email-icon {
  background-image: url('../img/email_icon.png')
}

.telephone-icon {
  background-image: url('../img/telephone_icon.png')
}

.footer-icon {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-icon:hover, .footer-icon:active {
  background-position: 100% center;
}

.linkedin-icon {
  background-image: url('../img/linkedin_icon.png');
}

.github-icon {
  background-image: url('../img/github_icon.png');
}

/* end FOOTER */
