body {
  font-family: 'Inconsolata', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  font-family: 'Inconsolata', monospace;
}

.pixel-art {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

@font-face {
  font-family: 'Pixel Art';
  src: url('fonts/pixelart.woff2') format('woff2'),
       url('fonts/pixelart.woff') format('woff'),
       url('fonts/pixelart.ttf') format('truetype');
}

.pixel-art-font {
  font-family: 'Pixel Art', Fallback, 'Montserrat' !important;
}

.sprited-image {
  background-position: left center;
  background-size: cover;
}

/* used on a dummy child element to a w-100 div to get 1:1 aspect ratio */
.height-from-width {
  margin-top: 100%;
}

/* used on a dummy child element to a w-100 div to get 7:10 aspect ratio */
.height-from-width70 {
  margin-top: 70%;
}


.nounderline {
  text-decoration: none !important;
}

.bg-primary a {
  color: white;
  text-decoration: underline;
}

/* HEADER */

.avatar-background {
  max-width: 260px;
  background-image: url('../img/avatar_background.png');
}

#avatar {
  background-image: url('../img/avatar_idle_frames.png');
}

@keyframes avatar-idle-animation {
  7%, 100% {
    background-position: -520px, left center;
  }
}

.avatar-idle {
  background-position: left center;
  animation: avatar-idle-animation 5s steps(2, end) infinite;
  -webkit-animation: avatar-idle-animation 5s steps(2, end) infinite;
  animation-delay: 5s;
}

.light-hr {
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #ffffff;
  display: block;
  position: relative;
  width: 30%;
  height: 0px;
}

#my-titles {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.my-title {
  white-space: nowrap;
  display: inline;
}

/* end HEADER */

/* SECTIONS */

.icon-and-line {
  display: block;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.icon-and-line:after,
.icon-and-line:before {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-top-style: solid;
  border-top-width: 4px;
  padding-top: 1px;
  content: '';
  width: 10%;
}

.icon-and-line.light:after,
.icon-and-line.light:before {
  border-top-color: #FFFFFF;
}

.icon-and-line.dark:after,
.icon-and-line.dark:before {
  border-top-color: var(--color-2);
}

.icon-and-line:before {
  right: 0.5em;
  margin-left: -10%;
}

.icon-and-line:after {
  left: 0.5em;
  margin-right: -10%;
}

.section-icon {
  max-width: 64px;
  vertical-align: middle;
}

#chest.section-icon {
  background-image: url('../img/chest_icon_frames.png');
}

#avataricon.section-icon {
  background-image: url('../img/avatar_icon_frames.png');
}

/* end SECTIONS */

/* ABOUT ME */

.minha-foto {
  box-shadow:
  	0 0 0 4px #FFF,
    4px 4px 0 4px var(--color-3);
}

.list-about-me {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
}

@media (max-width: 768px) {
   .list-about-me {
      text-align: center;
    }
 }

.list-about-me li {
  margin-left: 0;
}

/* end ABOUT ME */

/* PORTFOLIO */

.portfolio-item {
    border: solid 1px var(--color-2);
}

.portfolio-item-overlay {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.portfolio-item-space {
  flex: 1;
}

.portfolio-item-space i.mg {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

.portfolio-item-technologies {
  background-color: rgba(3, 58, 84, 0.4);
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0.6rem 0.6rem 0 0.6rem;
}

.portfolio-item-technologies li {
  display: inline-block;

  border-radius: 1rem;
  border: 2px solid;

  margin-bottom: 0.6rem;
  margin-left: 0.4rem;
  padding: 0.6rem;
  height: 2rem;

  font-weight: bold;
  color: white;
  background-color: var(--color-2);
  border-color: var(--color-4);
}

.portfolio-item-technologies li p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow: hidden;
}

.portfolio-item-description {
  background-color: rgba(3, 58, 84, 0.9);
  color: white;
}

.portfolio-item-description p {
  margin: .6rem 1rem;
}

.portfolio-item-description p.portfolio-item-more {
  text-align: right;
  font-size: small;
}

.portfolio-item-space,
.portfolio-item-technologies,
.portfolio-item-description {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.portfolio-item:hover .portfolio-item-space,
.portfolio-item:hover .portfolio-item-technologies,
.portfolio-item:hover .portfolio-item-description {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: rgba(3, 58, 84, 0.9);
}

.portfolio-item:hover .portfolio-item-space i.mg {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 1;
}

.portfolio-item:hover p.portfolio-item-more {
  text-decoration: underline;
}


/* Color for technologies */
.portfolio-item-technologies .technology-python {
  background-color: #3572A5; border-color: #2d608a;}
.portfolio-item-technologies .technology-js {
  background-color: #d6c751; border-color: #9e933e;}
.portfolio-item-technologies .technology-html {
  background-color: #e34c26; border-color: #c94422;}
.portfolio-item-technologies .technology-css {
  background-color: #563d7c; border-color: #443061;}
.portfolio-item-technologies .technology-bootstrap {
  background-color: #563d7c; border-color: #443061;}
.portfolio-item-technologies .technology-opencv {
  background-color: #03c700; border-color:#039900;}
.portfolio-item-technologies .technology-latex {
  background-color: #008080; border-color:#006666;}
.portfolio-item-technologies .technology-scikit-learn {
  background-color: #de8c2f; border-color:#b37227;}
.portfolio-item-technologies .technology-matplotlib {
  background-color: #20557c; border-color:#194361;}


/* end PORTFOLIO */

/* FOOTER */

.footer-min-icon {
  max-width: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.email-icon {
  background-image: url('../img/email_icon.png')
}

.telephone-icon {
  background-image: url('../img/telephone_icon.png')
}

.footer-icon {
  max-width: 48px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-icon:hover, .footer-icon:active {
  background-position: 100% center;
}

.linkedin-icon {
  background-image: url('../img/linkedin_icon_frames.png');
}

.github-icon {
  background-image: url('../img/github_icon_frames.png');
}

/* end FOOTER */
