.pixel-art {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

@font-face {
  font-family: 'Pixel Art';
  src: url('fonts/pixelart.woff2') format('woff2'),
       url('fonts/pixelart.woff') format('woff'),
       url('fonts/pixelart.ttf') format('truetype');
}

.pixel-art-font {
  font-family: 'Pixel Art', Fallback, 'Montserrat' !important;
}

@keyframes avatar-idle-animation {
  7%, 100% {
    background-position: -520px, left center;
  }
}

.avatar-idle {
  background-image: url('../img/avatar_idle_frames.png'), url('../img/avatar_background.png');
  background-position: left center, left center;
  animation: avatar-idle-animation 5s steps(2, end) infinite;
  -webkit-animation: avatar-idle-animation 5s steps(2, end) infinite;
  animation-delay: 5s;
}


.icon-and-line {
  display: block;
  overflow: hidden;
  text-align: center;
}

.icon-and-line:after,
.icon-and-line:before {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-top-style: solid;
  border-top-width: 4px;
  content: '';
  width: 10%;
}

.icon-and-line.light:after,
.icon-and-line.light:before {
  border-top-color: #FFFFFF;
}

.icon-and-line.dark:after,
.icon-and-line.dark:before {
  border-top-color: var(--color-2);
}

.icon-and-line:before {
  right: 0.5em;
  margin-left: -10%;
}

.icon-and-line:after {
  left: 0.5em;
  margin-right: -10%;
}

.icon{
  background-position: left center;
  background-size: cover;
}

#chest.icon {
  background-image: url('../img/chest_icon_frames.png');
}

#star.icon {
  background-image: url('../img/star_icon_frames.png');
}

#pizza.icon {
  background-image: url('../img/pizza_icon_frames.png');
}

#avataricon.icon {
  background-image: url('../img/avatar_icon_frames.png');
}

.minha-foto {
  box-shadow:
  	0 0 0 4px #FFF,
    4px 4px 0 4px var(--color-3);
}
